html {
  overflow: hidden;
  background-color: red;
}

body {
  margin: 0;
  background-color: lime;
}

#zone {
  width: *;
  height: *;
  background-color: cyan;
}

@keyframes scrollY {
  0% {
    background-position : 0px 0px
  }
  100% {
    background-position : 0px -100vh
  }
}